@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

body {
	font-family: Open Sans, Arial, Helvetica;
}

header {
	background-image: url("Images/image-home.png");
	height:800px;
	width: 100%;
}

.container {
	width: 1200px;
	margin: auto;
}

.logo-wit {
	width: 200px;
	float: left;
	margin-right: 50px;
}


.navigation li {
	list-style: none;
	display: inline;
	margin-right: 50px;
	float:left;
	font-weight: 800;
}

.search {
	width: 30px;
	float: right;
}

nav {
	height: 50px;
	padding: 10px;
	margin-top: 60px;
}

.navigation li:hover {
	cursor: pointer;
	color: #FFDF00;
}